@import url('https://fonts.googleapis.com/css2?family=bazooka&family=Dancing+Script:wght@700&display=swap');
/*
================
 global styles
================
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background-color:wheat;
}
h1,h2,h3,h4{
  letter-spacing: 7px;
  text-decoration: none;
}

/*
================
 smaller screen 
================
*/

h1{
  font-size: 4rem;
}
h2{
  font-size: 6rem;
}
h3{  
  font-size: 1rem;
}
h4{
  font-size: 0.768rem;
}
.fa-heart{
  font-size: 4rem;
}
/*
================
 bigger screen 
================
*/
@media screen and (min-width:1200px){
  h1{
  font-size: 8rem;
}
h2{
  font-size: 10rem;
}
h3{  
  font-size: 0.789rem;
}
h4{
  font-size: 0.670rem;
}
.fa-heart{
  font-size: 8rem;
}
}

/*
================
 header 
================
*/
.img{
  height: 100%;
  display: block;
}
.header {
  height: 100vh;
  background: linear-gradient(rgb(0, 0, 0, 0.8), rgb(0, 0, 0, 0.8)),
    url('./cakebackground.jpg') center/cover no-repeat fixed;
}
.heading1
{
    font-family: bazooka;
    padding: 4rem;
    text-align: center;
    text-transform: capitalize;
    background: linear-gradient(to right, #73f0f5,
                    #ff6b08, #eedd44, #7bdbf3, #ff6b08);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
    animation: slideFromRight 2s ease-in-out 1;
}
.heading2{
    font-family: Dancing Script;
  color: rgb(248, 245, 245);
  font-weight: bold;
   text-align: center;
   padding: 3rem;
   text-transform: capitalize;
    text-shadow: 3px 4px rgb(224, 51, 39);
    animation: bounce 2s ease infinite;
  }

.fa-heart{
  color:red;
  text-shadow: none;
}
.icon{
    color:rgba(247, 227, 139, 0.952);
    font-size: 100px;
    text-align: center;
    margin: auto;
}

@keyframes slideFromRight{
  0%{
    /* moves 100px to right */
    transform: translateX(100px);
    opacity:0;
  }
  50%{
    transform: translateX(-200px);
    opacity:0.5;
  }
  75%{
    transform: translateX(80px);
    opacity:0.75;
  }
  100%{
    transform: translateX(0px);
    opacity:1;
  }
}
@keyframes bounce{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.75);
  }
  100%{
    transform: scale(1);
  }
}

/*
================
 end of header
================
*/
/*
================
 content-divider 
================
*/
.content-divider{
    height: 0.5rem;
    background: linear-gradient(to right,#e01616,
                    #ff6b08, #eedd44, #ee0909, #ff6b08);
}
/*
=======================
 end of content-divider 
=======================
*/
/*
================
      cards 
================
*/
.title h1{
  text-align: center;
  font-size: 2rem;
  text-transform: capitalize;
  color:#fd6005;
  letter-spacing:4px;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
@media screen and (min-width:1200px){
  .title h1{
    font-size: 3rem;
  }
}
.cards{
  padding: 3rem 0;
  overflow: hidden;
}
.cards-center{
  width: 400px;
  max-width: 1170px;
  margin: 2rem;
}
.img1{
  width: 396px;
  display: block;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}
.card{
  border: 2px solid darkslategray;
  margin-bottom: 3rem;
  border-radius: 12px;
}
.card-info{
  padding: 1rem;
  height: 100px;
  letter-spacing: 1px;
  text-align: center;
  font-style: oblique;
  font-weight: 700;
  text-transform: capitalize;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  background: rgba(128, 128, 128, 0.582) center/cover;
}
@media screen and (min-width:780px){
  .cards-center{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap:2rem;
  }
}
@media screen and (min-width:1170px){
  .cards-center{
    grid-template-columns: repeat(3, 1fr);
  }
}
/*
================
  end of cards 
================
*/

/*
================
  typing 
================
*/
.type{
    display: grid;
    place-items: center;
}
.typing{
  animation: typing 2s steps(49), blink .5s step-end infinite;
  white-space: nowrap;
  overflow: hidden;
  border-right: 3px solid;
  width:49ch;
  color:#0c8db4;
  font-weight: 700;
  font-family: monospace;
  font-size: 17px;
}
/* bigger screen */

@media screen and (min-width:700px){
  .typing{
    font-size: 24px;
  }
}
@media screen and (min-width:1100px){
  .typing{
    font-size: 2rem;
  }
}
@keyframes typing {
  0%{
    width: 0ch;
  }
  100%{
    width: 49ch;
  }
}
@keyframes blink {
  50%{
    border-color: transparent;
  }
}
/*
================
 end of typing 
================
*/
/*
================
 flip-card 
================
*/
.flip-card{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 2rem;
}
.flip-card-inner{
display: grid;
grid-template-columns: repeat(3,1fr);
grid-gap: 3rem;
margin-left: 5rem;
}
.flip-card-front{
  padding: 1rem;
}
.flip-card-front1{
  border-radius: 2rem;
}
.flip-card-front3, .flip-card-front2{
  width: 285px;
  height: 335px;
  border-radius: 2rem;
}

.flip-card {
  background-color: transparent;
  width: 285px;
  height: 335px;
  /* display: grid;
  grid-gap: 2rem; */
  margin: 4rem;
   /* border: 1px solid #f1f1f1;  */
   perspective: 1000px; 
}

.flip-card-inner{
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
  /* box-shadow:rgba(180, 56, 56, 0.2); */
}

.flip-card:hover .flip-card-inner{
  transform: rotateY(180deg);
  /* box-shadow:rgba(104, 102, 102, 0.2); */
}

.flip-card-front, .flip-card-back{
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

/* .flip-card-front {
  color: black;
} */

.flip-card-back {
  background-color: #b1650e;
  border-radius: 2rem;
  color: rgb(34, 231, 182);
  transform: rotateY(180deg);
}  
/*
=================
 end of flip-card 
=================
*/
/*
=================
 box
=================
*/
.list{
  background: rgb(206, 189, 159);
}
.list-head{
  margin:1rem;
  font-size: 40px;
  letter-spacing: 1px;
  color:#296e48;
  text-transform: capitalize;
}
.border{
  margin: 1rem;
  width: 10rem;
  height: 3px;
  background:#fd6005;
}
@media screen and (min-width:200px){
  .border{
  width: 33rem;
  height: 3px;
  background:#fd6005;
  }
}
@media screen and (min-width:1200px){
  .border{
  width: 44rem;
  height: 3px;
  background:#fd6005;
  }
}
.list-img{
  /* float: center; */
  margin-right: 2rem;
  margin-left: 2rem;
  margin-bottom: 2rem;
  border: 2px solid black;
  border-radius: 100px;
  width: 300px;
  height: 450px;
  /* animation: bounce 2s ease infinite; */
}
@media screen and (min-width:1200px){
  .list-img{
    float: right;
    width: 300px;
  height: 450px;
  margin-bottom: 5rem;

  }
}
.list-img:hover{
  transform: scale(0.85);
  overflow: hidden;

}
@keyframes bounce{
  0%{
    transform: scale(1);
  }
  50%{
    transform: scale(0.75);
  }
  100%{
    transform: scale(1);
  }
}
.list-heading{
  margin-left: 2rem;
  padding: 2rem;
  padding-left: 2rem;
  font-size: 30px;
  letter-spacing: 1px;
  text-transform: capitalize;
}
@media screen and (min-width:1200px){
  .list-heading{
    padding-left: 15rem;
  }
}
ul.unordered-list{
  margin-left: 1rem;
  margin-right: 2rem;
  padding-right: 1rem;
  font-size: 20px;
  list-style-position: inside;
}


/* final */
.h1{
  margin:2rem;
  margin-top:5rem;
  letter-spacing: 2px;
  color:#ff6b08;
  font-size: 34px;
  text-align: center;
  text-transform: capitalize;
}
.h2{
  margin:3rem;
  letter-spacing: 2px;
  color:#0c8db4;
  text-align: center;
  font-size: 34px;
  text-transform: capitalize;
}
/* end of final */
/* btn */
.aboutbtn{
  text-align: center;
  padding: 10rem;
  padding-left:40rem;
}
.finalimg{
  width: 300px;
  margin-left: 6rem;
  /* border: 2px solid red; */
}
@media screen and (min-width:1200px){
  .aboutbtn{
  text-align: center;
  padding: 10rem;
  padding-left:40rem;
}
.finalimg{
  width: 300px;
  margin-left: 13rem;
  /* border: 2px solid red; */
  /* float: center;
  text-align: center; */
}
}
@media screen and (min-width:800px){
  .aboutbtn{
  text-align: center;
  padding: 10rem;
  padding-left:40rem;
}
.finalimg{
  width: 300px;
  margin-left: 33rem;
  /* border: 2px solid red; */
  /* float: center;
  text-align: center; */
}
}

